$white: #FFFFFF;
$gray: #636363;

$bootstrap_primary: darken(#428bca, 6.5%);

$bootstrap_success_darker: #3c763d;
$bootstrap_success: #5cb85c;
$bootstrap_success_light: #d6e9c6;

$bootstrap_info: #5bc0de;
$bootstrap_info_light: #bce8f1;

$bootstrap_warning_darker: #8a6d3b;
$bootstrap_warning: #f0ad4e;
$bootstrap_warning_light: #faebcc;

$bootstrap_danger_darker: #bb2d28;
$bootstrap_danger: #d9534f;
$bootstrap_danger_light: #ebccd1;

$bootstrap_gray_darker: lighten(#000, 13.5%);
$bootstrap_gray_dark: lighten(#000, 20%);
$bootstrap_gray: lighten(#000, 33.5%);
$bootstrap_gray_light: lighten(#000, 46.7%);
$bootstrap_gray_lighter:lighten(#000, 93.5%);

$bootstrap_text: #333333;

// -------------------------------------------

$athenas_laranja: #F37E20;
$athenas_gray: #636363;

$athenas_back: #7D7D7D;