.full_image {
	background-image: url(/img/home/SalaoFestas-min.png) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-size:  cover;
	background-color: #999;

	height: 100vh;
	position: relative;

	.div-texto {
		margin-top: 20%;

		h1,h2,h3,h4,h5,p {
			color: $white;
		}

		h5 {
			margin-top: 15px;
		}

		.btn {
			margin-top: 15px;
		}
	}
}

/* =========================================
   RESPONSIVIDADE
   ========================================= */
@include media(">desktop") {
	.full_image {
		.div-texto {
			margin-top: 20%;
		}
	}
}