.headline {
	font-family: "Montserrat",sans-serif;
}

.img-headline {
	margin-top: 20px;
}

.number-boxers {
	font-family: "Montserrat",sans-serif;
	margin-top: 0;
	font-size: 40px;
    font-weight: 900;
}